*.pyc
*.swp
*.swo
*~
build
dist
*.eggs
*.egg-info
tags
*.log
etc/senlin/senlin.conf.sample
senlin-test.db
senlin.sqlite
.venv
AUTHORS
ChangeLog
.tox
.coverage
.coverage.*
cover
.testrepository
.project
.pydevproject
